In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
seasonStock=SeasonStock()
revenue=Revenue()

In [3]:
shortGrowth=ShortGrowth(seasonStock,revenue)

In [4]:
shortGrowth.shortCond()

代號    名稱
2317  鴻海       供給變變小，又供不應求
2330  台積電      供給變變大，又供不應求
2542  興富發      供給變變大，又供不應求
2382  廣達       供給變變小，又供不應求
3231  緯創       供給變變小，又供不應求
                  ...
5287  數字
5871  中租-KY
6902  走著瞧-創
8087  華鎂鑫
8429  金麗-KY
Name: 短期評估, Length: 1689, dtype: object

In [13]:
revenue.revenueGrowth(12)[-12:][['5483','3665','2317','6491','4958','5871','3413','5009','3533','5283','9802','6804','6669']]

代號,5483,3665,2317,6491,4958,5871,3413,5009,3533,5283,9802,6804,6669
名稱,中美晶,貿聯-KY,鴻海,晶碩,臻鼎-KY,中租-KY,京鼎,榮剛,嘉澤,禾聯碩,鈺齊-KY,明係,緯穎
22M09營收(億),0.15,0.86,0.40,0.12,0.31,0.20,0.27,0.26,0.29,-0.10,0.68,2.20,0.89
22M10營收(億),0.26,0.90,0.41,0.25,0.30,0.22,0.34,0.39,0.38,-0.19,0.33,2.03,0.60
22M11營收(億),0.14,0.77,-0.11,0.05,-0.23,0.21,0.31,0.25,0.18,-0.16,0.49,0.88,0.63
22M12營收(億),0.13,0.39,-0.12,0.13,-0.20,0.16,0.12,0.29,0.00,0.05,0.34,0.16,0.41
23M01營收(億),0.12,0.27,0.48,0.04,0.19,0.20,0.04,0.18,-0.31,-0.50,0.03,0.35,0.29
23M02營收(億),0.10,-0.01,-0.12,-0.10,0.00,0.19,-0.04,0.43,0.32,-0.16,0.34,0.30,0.68
23M03營收(億),0.12,0.05,-0.21,0.00,-0.32,0.10,-0.01,0.19,-0.06,-0.21,0.01,0.29,0.43
23M04營收(億),0.06,0.00,-0.12,0.05,-0.31,0.14,0.27,0.17,-0.13,-0.09,0.08,0.24,-0.09
23M05營收(億),-0.03,-0.05,-0.09,0.29,-0.29,0.16,0.09,0.17,-0.17,0.09,-0.15,0.17,-0.23
23M06營收(億),-0.01,-0.16,-0.20,0.10,-0.35,0.12,-0.17,0.13,-0.12,0.08,-0.52,0.56,-0.35
23M07營收(億),-0.11,-0.10,-0.01,0.08,-0.22,0.14,-0.30,0.01,-0.08,-0.04,-0.18,0.27,-0.19
23M08營收(億),-0.17,-0.05,-0.08,0.17,-0.16,0.13,-0.25,0.01,-0.07,-0.19,-0.63,0.36,-0.26

In [5]:
shortGrowth.stockSellRatio()[['5483','3665','2317','6491','4958','5871','3413','5009','3533','5283','9802','6804','6669']]

代號        5483  3665 2317 6491  4958  5871 3413 5009 3533 5283  9802 6804 6669
名稱         中美晶 貿聯-KY   鴻海   晶碩 臻鼎-KY 中租-KY   京鼎   榮剛   嘉澤  禾聯碩 鈺齊-KY   明係   緯穎
21Q3存貨(億) 0.44  0.72 0.37 0.30  0.53  0.00 0.67 1.94 0.66 1.42  0.78 1.38 0.76
21Q4存貨(億) 0.48  0.63 0.42 0.40  0.43  0.00 0.83 2.18 0.68 1.27  0.87 1.20 0.95
22Q1存貨(億) 0.46  0.86 0.51 0.44  0.56  0.00 1.13 1.76 0.67 0.96  0.95 1.00 0.79
22Q2存貨(億) 0.45  0.88 0.52 0.46  0.49  0.00 0.99 1.79 0.64 1.00  0.70 1.23 0.55
22Q3存貨(億) 0.47  0.89 0.41 0.34  0.43  0.00 0.95 1.83 0.47 1.51  0.79 0.89 0.48
22Q4存貨(億) 0.54  1.02 0.56 0.39  0.45  0.00 1.06 2.02 0.62 1.29  0.90 0.80 0.52
23Q1存貨(億) 0.53  0.91 0.64 0.37  0.57  0.00 1.04 1.84 0.50 0.91  0.85 0.77 0.50
23Q2存貨(億) 0.56  0.88 0.58 0.33  0.43  0.00 0.96 1.92 0.43 0.85  0.79 0.66 0.49

In [4]:
shortGrowth.allGrowth().loc[['5483','3665','2317','6491','4958','5871','3413','5009','3533','5283','9802','6804','6669']]

            存貨QoQ  存銷比QoQ         短期評估
代號   名稱
5483 中美晶    -0.01    0.05  供給變變小，又供過於求
3665 貿聯-KY  -0.05   -0.03  供給變變小，又供不應求
2317 鴻海     -0.07   -0.08  供給變變小，又供不應求
6491 晶碩     -0.07   -0.11  供給變變小，又供不應求
4958 臻鼎-KY  -0.01   -0.25  供給變變小，又供不應求
5871 中租-KY    NaN     NaN
3413 京鼎     -0.17   -0.07  供給變變小，又供不應求
5009 榮剛     -0.01    0.04  供給變變小，又供過於求
3533 嘉澤     -0.11   -0.14  供給變變小，又供不應求
5283 禾聯碩    -0.02   -0.06  供給變變小，又供不應求
9802 鈺齊-KY  -0.26   -0.08  供給變變小，又供不應求
6804 明係     -0.12   -0.14  供給變變小，又供不應求
6669 緯穎     -0.14   -0.02  供給變變小，又供不應求