In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
seasonStock=SeasonStock()
revenue=Revenue()

In [3]:
shortGrowth=ShortGrowth(seasonStock,revenue)

In [4]:
shortGrowth.allGrowth()

            存貨QoQ  存銷比QoQ
代號   名稱
2317 鴻海     -0.07   -0.08
2330 台積電     0.08   -0.03
2542 興富發     0.02   -0.45
2382 廣達     -0.13   -0.22
3231 緯創     -0.06   -0.06
...           ...     ...
4712 南璋       NaN     NaN
5287 數字       NaN     NaN
5871 中租-KY    NaN     NaN
6902 走著瞧-創    NaN     NaN
8087 華鎂鑫      NaN     NaN

[1688 rows x 2 columns]