In [1]:
from app.models import *

# pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
today=Today()
cash=Cash().latest()
yearEps=YearEps()
yearCagr=YearCAGR(yearEps)
growth=yearCagr.minCagr()
seasonBalance=SeasonBalance()
liquidationInvest=LiquidationInvest(seasonBalance,today)
cashDiscount=CashDiscount(cash,growth,today)

In [5]:
innerValue=InnerValue(cashDiscount,liquidationInvest,today)

In [6]:
yearCagr.minCagr()

代號    名稱
2330  台積電    0.242640
2603  長榮     1.133440
2609  陽明          NaN
2317  鴻海     0.049733
2454  聯發科    0.368152
               ...
2204  中華     0.814572
2867  三商壽         NaN
2207  和泰車         NaN
2409  友達     0.061181
3481  群創     0.159610
Length: 1789, dtype: float64

In [7]:
innerValue.getInnerValue()

                  成交       清算價值           折現
代號   名稱
8429 金麗-KY      9.89  26.526516     0.000000
5907 大洋-KY     12.60   9.433497     0.000000
3673 TPK-KY    34.35  15.416088     1.648087
2929 淘帝-KY     10.45  13.918660     0.000000
1337 再生-KY      7.37  15.028928     0.000000
...              ...        ...          ...
6409 旭隼      1545.00   8.713728  1319.155402
6902 走著瞧-創    172.00   1.808510     0.000000
3443 創意      1345.00  -5.330700   612.967635
5274 信驊      2325.00  29.967366  1634.919877
3529 力旺      1820.00  12.443942   586.382021

[1786 rows x 3 columns]

In [3]:
cash=Cash().latest()
growth=yearCagr.minCagr()

In [4]:
cashDiscount=CashDiscount(cash,growth,today)
cashDiscount.expectEarn()

                成交  起初EPS或股利     預估成長率           目標價       預期報酬率
代號   名稱
2302 麗正      17.35       0.8       inf           inf        inf%
2497 怡利電     62.60       0.7  5.603854  7.615302e+04  121550.20%
8046 南電     231.00      18.0  2.970706  1.558900e+05   67384.87%
2603 長榮     107.00      70.0  1.133440  2.831459e+04   26362.24%
1517 利奇      15.95       0.9  2.489766  4.108893e+03   25661.09%
...            ...       ...       ...           ...         ...
3284 太普高     16.25       0.1       NaN  0.000000e+00    -100.00%
2939 凱羿-KY   28.45       0.0 -0.512300  0.000000e+00    -100.00%
6199 天品      17.10       0.0       NaN  0.000000e+00    -100.00%
6674 鋐寶科技    27.75       0.5       NaN  0.000000e+00    -100.00%
8429 金麗-KY    9.89       0.0  0.550036  0.000000e+00    -100.00%

[1786 rows x 5 columns]

In [17]:
from app.growth import *

yearEps=YearEps()
yearCagr=YearCAGR(yearEps)

In [18]:
yearCagr.allCAGR().loc['5483']

     CAGR(10年)  CAGR(5年)  CAGR(3年)  CAGR(保守)
名稱
中美晶        NaN  0.525484  0.567622  0.525484