In [1]:
from base import *

In [2]:
seasonEps=SeasonEps()

In [4]:
seasonEps.seasonEpsTrans.iloc[-1]

代號    名稱
3008  大立光      24.64
2603  長榮        2.38
6669  緯穎       18.86
2454  聯發科      10.64
3533  嘉澤       10.96
               ...
6462  神盾       -1.26
2204  中華        2.71
6541  泰福-KY    -5.17
3432  台端       -0.03
2207  和泰車       9.27
Name: 23Q1EPS(元), Length: 1785, dtype: float64

In [3]:
seasonRoe=SeasonRoe()
today=Today()

In [7]:
seasonRoe.seasonRoeTrans.loc[roeEpsList]

代號,4943,4946,4944,3095,3432,3064,6541,3018,5227,2424,...,5609,8924,3293,3443,2404,1218,6409,5274,5278,8080
名稱,康控-KY,辣椒,兆遠,及成,台端,泰偉,泰福-KY,隆銘綠能,立凱-KY,隴華,...,中菲行,大田,鈊象,創意,漢唐,泰山,旭隼,信驊,尚凡,永利聯合
ROE(%),-179.00,-153.00,-139.00,-116.00,-115.00,-112.00,-110.0,-87.20,-75.9,-75.30,...,49.30,50.2,50.30,55.30,56.9,59.30,59.80,61.50,61.60,175.00
EPS(元),-11.25,-7.73,-2.88,-4.02,-17.62,-1.94,-16.3,-2.84,-5.6,-3.31,...,16.44,19.5,39.75,30.59,24.5,11.43,53.63,48.26,12.02,7.44

In [2]:
dividendRatio=DividendRatio()

In [3]:
dividendRatio.latestDividendRatio()

代號    名稱
4967  十銓       10000.0
6616  特昇-KY     8226.0
2415  錩新        6500.0
5498  凱崴        2150.0
4542  科嶠        1250.0
                ...
2536  宏普        -312.0
1608  華榮        -444.0
4989  榮科        -477.0
1219  福壽       -1752.0
4420  光明       -1818.0
Name: 2023分配率, Length: 1787, dtype: float64

In [1]:
from growth import *

In [2]:
dividendRatio=DividendRatio()
seasonRoe=SeasonRoe()

In [3]:
innerGrowth=InnerGrowth(dividendRatio,seasonRoe)

In [4]:
innerGrowth.getInnerGrowth()

代號    名稱
4943  康控-KY   -179.00000
4946  辣椒      -153.00000
4944  兆遠      -139.00000
3095  及成      -116.00000
3432  台端      -115.00000
                 ...
1218  泰山        56.35279
6409  旭隼         8.67100
5274  信驊        11.80800
5278  尚凡         6.28320
8080  永利聯合     175.00000
Length: 1786, dtype: float64