In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [3]:
integrateInvest("1")

      代號     名稱    成交   清算價值    目標價    預期報酬率
0   8429  金麗-KY  9.89  26.53  34.48  248.68%
1   1337  再生-KY  7.37  15.03  19.54  165.10%
2   1340  勝悅-KY 12.40  19.77  25.70  107.24%
3   6405     悅城 24.90  33.87  44.03   76.82%
4   2929  淘帝-KY 10.45  13.92  18.09   73.15%
5   1325     恆大 22.35  28.11  36.54   63.48%
6   1315     達新 72.20  81.93 106.51   47.52%
7   8499  鼎炫-KY 97.80 108.53 141.09   44.27%
8   4552  力達-KY 32.15  33.26  43.24   34.49%
9   2025     千興  5.70   5.52   7.18   25.98%
10  2609     陽明 43.90  40.53  52.69   20.03%
11  5521     工信  7.22   6.53   8.49   17.61%
12  2605     新興 20.95  18.49  24.04   14.74%
13  4909    新復興 22.50  19.55  25.42   12.98%
14  2615     萬海 50.50  41.85  54.41    7.74%
15  1452     宏益 16.25  13.35  17.36    6.81%
16  3252     海灣 20.30  16.56  21.53    6.04%
17  2443     昶虹  3.41   2.75   3.57    4.73%

In [2]:
seasonBalance=SeasonBalance()
liquidationInvest=LiquidationInvest(seasonBalance)

In [3]:
cashList=CashList().latestCash()
revenue=Revenue()
growth=ShortRevenueGrowth(revenue).revenue3MinYoY()
cashDiscount=CashDiscount(cashList,growth)

In [4]:
innerValue=InnerValue(cashDiscount,liquidationInvest)

In [6]:
innerValue.expectEarn()

            成交  起初EPS或股利  預估成長率        折現價值   清算價值         目標價         預期報酬率
代號   名稱
5706 鳳凰  75.60      0.30  21.57 15061591.88   4.83 15061596.71  19922646.97%
1808 潤隆  88.30      0.60  14.72  4951797.95 -10.11  4951787.84   5607813.75%
2542 興富發 42.95      0.50   5.09    36420.09 -15.04    36405.05     84661.46%
5508 永信建 70.80      6.35   2.62    34636.68 -16.61    34620.07     48798.41%
2596 綠意  21.80      1.00   1.50      879.61  -2.78      876.83      3922.17%
...        ...       ...    ...         ...    ...         ...           ...
2905 三商  13.85      0.00  -0.15        0.00 -11.64      -11.64      -184.04%
2537 聯上發  7.12      0.00  -1.00        0.00  -7.65       -7.65      -207.44%
2888 新光金  9.39      0.00  -1.63        0.00 -10.18      -10.18      -208.37%
2867 三商壽  5.11      0.00   0.22        0.00  -6.73       -6.73      -231.68%
5864 致和證 21.40      0.20  -8.85   -50539.90   9.14   -50530.75   -236225.02%

[1786 rows x 7 columns]

In [5]:
dcf.dcfEstimate(1,0.1,True,1)

13.960556156379127

In [6]:
dcf.dcfEstimate(1,0.1)

17.75

In [4]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]}
df = pd.DataFrame(data)

In [9]:
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [10]:
integrateInvest("1")

      代號     名稱    成交   清算價值    目標價    預期報酬率
0   8429  金麗-KY  9.89  26.53  34.48  248.68%
1   1337  再生-KY  7.37  15.03  19.54  165.10%
2   1340  勝悅-KY 12.40  19.77  25.70  107.24%
3   6405     悅城 24.90  33.87  44.03   76.82%
4   2929  淘帝-KY 10.45  13.92  18.09   73.15%
5   1325     恆大 22.35  28.11  36.54   63.48%
6   1315     達新 72.20  81.93 106.51   47.52%
7   8499  鼎炫-KY 97.80 108.53 141.09   44.27%
8   4552  力達-KY 32.15  33.26  43.24   34.49%
9   2025     千興  5.70   5.52   7.18   25.98%
10  2609     陽明 43.90  40.53  52.69   20.03%
11  5521     工信  7.22   6.53   8.49   17.61%
12  2605     新興 20.95  18.49  24.04   14.74%
13  4909    新復興 22.50  19.55  25.42   12.98%
14  2615     萬海 50.50  41.85  54.41    7.74%
15  1452     宏益 16.25  13.35  17.36    6.81%
16  3252     海灣 20.30  16.56  21.53    6.04%
17  2443     昶虹  3.41   2.75   3.57    4.73%