In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
revenue=Revenue()
shortRevenueGrowth=ShortRevenueGrowth(revenue)

In [4]:
revenue.revenueDf['3406']

名稱           玉晶光
22M08營收(億) 25.40
22M09營收(億) 27.30
22M10營收(億) 23.10
22M11營收(億) 19.80
22M12營收(億) 14.60
23M01營收(億) 13.50
23M02營收(億)  9.27
23M03營收(億) 10.50
23M04營收(億)  7.73
23M05營收(億)  7.37
23M06營收(億) 11.60
23M07營收(億) 21.50
22M09營收(億) 27.30
22M10營收(億) 23.10
22M11營收(億) 19.80
22M12營收(億) 14.60
23M01營收(億) 13.50
23M02營收(億)  9.27
23M03營收(億) 10.50
23M04營收(億)  7.73
23M05營收(億)  7.37
23M06營收(億) 11.60
23M07營收(億) 21.50
23M08營收(億) 32.40

In [8]:
revenue.revenueDf['3406'].shift(12)

名稱           玉晶光
22M08營收(億)   NaN
22M09營收(億)   NaN
22M10營收(億)   NaN
22M11營收(億)   NaN
22M12營收(億)   NaN
23M01營收(億)   NaN
23M02營收(億)   NaN
23M03營收(億)   NaN
23M04營收(億)   NaN
23M05營收(億)   NaN
23M06營收(億)   NaN
23M07營收(億)   NaN
22M09營收(億) 25.40
22M10營收(億) 27.30
22M11營收(億) 23.10
22M12營收(億) 19.80
23M01營收(億) 14.60
23M02營收(億) 13.50
23M03營收(億)  9.27
23M04營收(億) 10.50
23M05營收(億)  7.73
23M06營收(億)  7.37
23M07營收(億) 11.60
23M08營收(億) 21.50

In [6]:
revenue.revenueGrowth(12)['3406']

名稱           玉晶光
22M08營收(億)   NaN
22M09營收(億)   NaN
22M10營收(億)   NaN
22M11營收(億)   NaN
22M12營收(億)   NaN
23M01營收(億)   NaN
23M02營收(億)   NaN
23M03營收(億)   NaN
23M04營收(億)   NaN
23M05營收(億)   NaN
23M06營收(億)   NaN
23M07營收(億)   NaN
22M09營收(億)  0.07
22M10營收(億) -0.15
22M11營收(億) -0.14
22M12營收(億) -0.26
23M01營收(億) -0.08
23M02營收(億) -0.31
23M03營收(億)  0.13
23M04營收(億) -0.26
23M05營收(億) -0.05
23M06營收(億)  0.57
23M07營收(億)  0.85
23M08營收(億)  0.51