In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [5]:
getGrowth("1",0.4)

代號    名稱
8080  永利聯合     0.40
9950  萬國通      0.40
6409  旭隼       0.11
6204  艾華      -2.14
3293  鈊象       0.07
               ...
3432  台端      -1.18
3095  及成      -1.28
3018  隆銘綠能    -1.29
4946  辣椒      -1.32
4943  康控-KY   -1.79
Length: 1783, dtype: float64