In [1]:
from base import *

In [2]:
revenue=Revenue()

In [3]:
revenue.monthTrans

代號,2317,2330,4938,2382,3231,2324,6505,3702,1216,3711,...,3115,5455,6492,4168,1453,4907,6550,6198,4712,6547
22M07營收(億),4751.0,1868.0,1080.0,1295.0,797.0,976.0,766.0,543.0,473.0,582.0,...,0.00,0.21,0.0,0.00,0.30,0.00,0.00,0.00,0.00,0.01
22M08營收(億),4489.0,2181.0,1160.0,1319.0,769.0,888.0,827.0,653.0,487.0,638.0,...,0.00,0.61,0.0,0.00,0.40,0.00,0.00,0.00,0.00,0.00
22M09營收(億),8223.0,2082.0,1289.0,1207.0,935.0,1046.0,697.0,702.0,458.0,667.0,...,0.00,0.16,0.0,0.00,0.29,0.00,0.00,0.00,0.00,0.01
22M10營收(億),7766.0,2103.0,1318.0,1088.0,786.0,948.0,698.0,610.0,429.0,642.0,...,0.00,0.00,0.0,0.02,0.00,0.00,0.00,0.00,0.01,0.09
22M11營收(億),5511.0,2227.0,1135.0,1121.0,886.0,813.0,621.0,577.0,407.0,601.0,...,0.09,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.09
22M12營收(億),6293.0,1926.0,1128.0,1063.0,964.0,725.0,623.0,587.0,446.0,531.0,...,0.00,0.05,0.0,0.00,0.00,1.33,0.00,0.00,0.11,0.06
23M01營收(億),6604.0,2001.0,1246.0,901.0,550.0,627.0,609.0,441.0,459.0,451.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23M02營收(億),4020.0,1632.0,923.0,834.0,621.0,670.0,632.0,453.0,407.0,400.0,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23M03營收(億),4003.0,1454.0,1013.0,928.0,950.0,798.0,605.0,554.0,448.0,458.0,...,0.01,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23M04營收(億),4292.0,1479.0,1074.0,778.0,621.0,790.0,481.0,474.0,441.0,433.0,...,0.00,0.00,0.0,0.00,0.00,0.53,0.01,1.41,0.00,0.00
23M05營收(億),4507.0,1765.0,906.0,770.0,633.0,832.0,575.0,537.0,464.0,462.0,...,0.00,0.00,0.0,0.01,0.00,0.00,0.00,0.54,0.00,0.00
23M06營收(億),4228.0,1564.0,827.0,902.0,811.0,816.0,538.0,555.0,470.0,467.0,...,0.00,0.00,0.0,0.01,0.00,0.00,0.01,0.58,0.00,0.00

In [6]:
stock=Stock()

In [7]:
stock.stockTrans

代號,2317,2330,2382,2542,3231,4938,2002,2357,2324,3702,...,2443,3687,2724,1516,3018,3073,4712,5871,6902,8087
20Q2存貨(億),5049.0,858.0,1565.0,1274.0,1050.0,1195.0,900.0,874.0,865.0,699.0,...,1.24,0.0,0.0,0.0,0.09,0.00,0.15,0.0,NaN,0.05
20Q3存貨(億),7080.0,1095.0,1606.0,1272.0,1087.0,1457.0,805.0,920.0,1047.0,567.0,...,1.21,0.0,0.0,0.0,0.08,0.01,0.34,0.0,NaN,0.04
20Q4存貨(億),5821.0,1374.0,1492.0,1326.0,951.0,1651.0,762.0,973.0,962.0,571.0,...,0.53,0.0,0.0,0.0,0.10,0.02,0.23,0.0,NaN,0.04
21Q1存貨(億),6350.0,1546.0,1623.0,1325.0,1115.0,1466.0,879.0,1138.0,915.0,729.0,...,0.26,0.0,0.0,NaN,0.08,0.01,0.24,0.0,NaN,0.05
21Q2存貨(億),5312.0,1704.0,1643.0,1394.0,1146.0,1439.0,1003.0,1382.0,1187.0,777.0,...,0.22,0.0,0.0,0.0,0.08,0.00,0.16,0.0,NaN,0.09
21Q3存貨(億),6586.0,1822.0,1916.0,1496.0,1433.0,1595.0,1228.0,1596.0,1307.0,914.0,...,0.12,0.0,0.0,0.0,0.08,0.01,0.08,0.0,NaN,0.03
21Q4存貨(億),6721.0,1931.0,1966.0,1525.0,1614.0,1481.0,1295.0,1673.0,1150.0,862.0,...,0.05,0.0,0.0,0.0,0.01,0.01,0.05,0.0,NaN,0.02
22Q1存貨(億),7545.0,2001.0,2498.0,1573.0,1817.0,1833.0,1407.0,2043.0,1362.0,995.0,...,0.02,0.0,0.0,NaN,0.01,0.00,0.05,0.0,0.06,0.03
22Q2存貨(億),7509.0,2174.0,2543.0,1672.0,1867.0,1732.0,1527.0,2173.0,1485.0,1189.0,...,0.01,0.0,0.0,0.0,0.01,0.01,0.01,0.0,NaN,0.02
22Q3存貨(億),8805.0,2183.0,2530.0,1707.0,1894.0,1987.0,1466.0,1852.0,1326.0,1375.0,...,0.06,0.0,0.0,0.0,0.01,0.00,0.02,0.0,NaN,0.00
22Q4存貨(億),9390.0,2211.0,2259.0,1681.0,1569.0,1994.0,1315.0,1425.0,1116.0,1117.0,...,0.00,0.0,0.0,NaN,0.00,0.00,0.00,0.0,NaN,0.00
23Q1存貨(億),8132.0,2161.0,1696.0,1671.0,1479.0,1688.0,1307.0,1243.0,1180.0,1030.0,...,0.00,0.0,0.0,NaN,0.00,0.00,0.00,0.0,0.00,0.00