In [1]:
from cash import *

In [2]:
cashShareDf(shareDf)

,,成交,2023發放年度,平均股息,發放股息次數,平均股息發放率,近一年股息殖利率,平均股息殖利率,目標價,預期報酬率
代號,名稱,,,,,,,,,
8429,金麗-KY,10.45,0.0,0.030,2.0,1.30,0.000000,0.002871,0.60,-0.942584
5907,大洋-KY,14.30,0.0,0.978,3.0,-11.50,0.000000,0.068392,19.56,0.367832
2603,長榮,102.00,70.0,18.098,3.0,33.80,0.686275,0.177431,361.96,2.548627
2929,淘帝-KY,10.90,0.0,0.660,2.0,10.82,0.000000,0.060550,13.20,0.211009
1340,勝悅-KY,12.45,0.0,0.040,1.0,24.80,0.000000,0.003213,0.80,-0.935743
...,...,...,...,...,...,...,...,...,...,...
911622,泰聚亨-DR,NaN,NaN,0.000,0.0,NaN,NaN,NaN,0.00,NaN
911868,同方友友-DR,NaN,NaN,0.000,0.0,NaN,NaN,NaN,0.00,NaN
912000,晨訊科-DR,NaN,NaN,0.020,1.0,NaN,NaN,NaN,0.40,NaN
8916A,光隆甲特,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3089,億杰,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN

In [3]:
longCash(shareDf)

         近一年股息殖利率 平均股息殖利率   預期報酬率
代號   名稱
8070 長華*     5.9%   19.8%  295.6%
2603 長榮     68.6%   17.7%  254.9%
2609 陽明     42.6%   17.1%  241.2%
3373 熱映      2.5%   14.4%  188.6%
8066 來思達     3.4%   14.4%  187.6%
...           ...     ...     ...
5534 長虹      6.9%    7.1%   41.6%
4420 光明      6.7%    7.1%   41.3%
8213 志超      5.6%    7.1%   41.2%
8016 矽創     10.6%    7.0%   40.7%
6292 迅德      7.0%    7.0%   40.7%

[89 rows x 3 columns]

In [4]:
starkCash(shareDf)

           近一年股息殖利率 平均股息殖利率
代號   名稱
8070 長華*       5.9%   19.8%
6613 朋億*       8.1%   10.2%
3093 港建*       9.1%   10.0%
2108 南帝        5.5%    9.4%
2545 皇翔       11.7%    9.3%
...             ...     ...
6591 動力-KY     7.3%    5.0%
9911 櫻花        5.9%    5.0%
2392 正崴        5.4%    5.0%
1436 華友聯       8.2%    5.0%
6154 順發        5.3%    5.0%

[205 rows x 2 columns]