In [1]:
from liquidation import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [4]:
liquidationModel(liquiShareBaseDf)

           清算價值報酬率
代號   名稱
8429 金麗-KY  243.0%
1337 再生-KY  153.0%
1340 勝悅-KY  105.2%
6405 悅城      84.3%
2603 長榮      78.0%
2609 陽明      76.2%
2929 淘帝-KY   68.3%
1325 恆大      65.1%
1315 達新      42.7%
8499 鼎炫-KY   38.3%
4552 力達-KY   34.7%
4909 新復興     30.5%
2605 新興      29.9%
5521 工信      21.5%
2615 萬海      21.1%
2443 昶虹      15.8%
3252 海灣       8.9%
1452 宏益       3.8%
2617 台航       2.9%