In [1]:
from liquidation import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
liquiTable=liquiShareDf(liquiShareBaseDf)

In [3]:
liquiTable

,,成交,PBR,PER,負債總額(%),存貨(%),應收帳款(%),投資(%),清算價值,清算價值報酬率
代號,名稱,,,,,,,,,
1101,台泥,37.35,1.24,46.70,48.0,3.42,6.99,20.90,6.232028,-0.783089
1102,亞泥,40.55,0.92,11.00,46.1,2.42,4.15,42.20,2.261103,-0.927511
1103,嘉泥,20.75,0.60,NaN,38.4,0.33,0.78,54.00,2.244458,-0.859383
1104,環泥,29.25,0.89,11.70,21.5,1.52,6.75,50.20,6.582893,-0.707427
1108,幸福,18.75,1.61,11.80,51.4,42.00,10.60,1.94,-0.691770,-1.047963
...,...,...,...,...,...,...,...,...,...,...
9951,皇田,79.40,1.82,13.90,40.4,18.90,19.80,4.31,7.237615,-0.881500
9955,佳龍,24.55,1.86,NaN,54.0,15.20,1.04,7.90,2.885285,-0.847215
9958,世紀鋼,153.00,5.10,478.00,69.7,3.76,2.43,3.48,6.189000,-0.947414
9960,邁達康,29.95,1.61,8.27,53.0,12.90,5.30,0.00,5.357516,-0.767453
9962,有益,18.55,1.54,7.60,24.1,62.40,4.55,1.28,0.923886,-0.935253

In [4]:
liquidationModel(liquiShareBaseDf)

           清算價值報酬率
代號   名稱
8429 金麗-KY  232.0%
1337 再生-KY  141.7%
1340 勝悅-KY  105.2%
6405 悅城      76.2%
2603 長榮      73.8%
2609 陽明      68.8%
2929 淘帝-KY   64.2%
1325 恆大      62.8%
1315 達新      42.7%
8499 鼎炫-KY   38.3%
4552 力達-KY   36.9%
4909 新復興     25.6%
2605 新興      24.5%
5521 工信      21.5%
2615 萬海      17.4%
2443 昶虹      13.3%
3252 海灣       6.8%
2617 台航       5.8%
1452 宏益       3.8%
1465 偉全       1.0%