In [1]:
from lynch import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
revenue=Revenue()

In [3]:
revenue.revenueGrowth(12)

代號,2317,2330,4938,2382,3231,2324,6505,3702,1216,3711,...,3115,5455,6492,4168,1453,4907,6550,6198,4712,6547
名稱,鴻海,台積電,和碩,廣達,緯創,仁寶,台塑化,大聯大,統一,日月光投控,...,富榮綱,昇益,生華科,醣聯,大將,富宇,北極星藥業-KY,瑞築,南璋,高端疫苗
21M07營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21M08營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21M09營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21M10營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21M11營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21M12營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M01營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M02營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M03營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M04營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M05營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M06營收(億),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22M07營收(億),0.136603,0.499197,0.220339,0.366034,0.180741,-0.096296,0.423792,-0.082770,0.128878,0.251613,...,-1.000000,inf,NaN,NaN,inf,NaN,-1.0,NaN,-1.0,inf
22M08營收(億),0.122250,0.587336,0.359906,0.557261,0.093883,-0.132812,0.545794,-0.050872,0.162291,0.265873,...,-1.000000,inf,NaN,NaN,inf,NaN,-1.0,-1.0,NaN,-1.000000
22M09營收(億),0.403961,0.363458,-0.134899,0.470158,0.131961,-0.173123,0.229277,-0.050068,0.114355,0.242086,...,-1.000000,-0.058824,NaN,NaN,inf,NaN,NaN,-1.0,-1.0,-0.998073
22M10營收(億),0.409693,0.563569,-0.044928,0.081511,-0.019950,-0.188356,0.153719,0.025210,0.097187,0.218216,...,-1.000000,-1.000000,NaN,1.0,NaN,-1.000000,-1.0,-1.0,inf,-0.984668
22M11營收(億),-0.113560,0.501686,-0.282554,-0.009717,0.027842,-0.340633,0.045455,-0.167388,0.032995,-0.006612,...,-0.666667,-1.000000,NaN,-1.0,NaN,-1.000000,-1.0,NaN,-1.0,-0.992241
22M12營收(億),-0.123049,0.239382,-0.275995,-0.147554,0.003122,-0.432263,0.022989,-0.167376,0.195710,-0.110553,...,-1.000000,-0.772727,NaN,-1.0,-1.0,-0.864424,NaN,NaN,inf,-0.979021
23M01營收(億),0.481382,0.162021,0.012185,-0.106151,-0.179104,-0.241838,-0.054348,-0.358079,-0.043750,-0.072016,...,-1.000000,-1.000000,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,-1.000000
23M02營收(億),-0.116484,0.110960,0.084606,-0.080485,-0.038700,-0.186893,0.208413,-0.258592,0.193548,-0.086758,...,-1.000000,-1.000000,NaN,NaN,-1.0,NaN,-1.0,NaN,NaN,-1.000000
23M03營收(億),-0.211076,-0.154651,-0.123702,-0.158658,0.001054,-0.223735,-0.120640,-0.307500,0.064133,-0.119231,...,-0.941176,-1.000000,NaN,-1.0,-1.0,-1.000000,-1.0,-1.0,NaN,-1.000000
23M04營收(億),-0.117780,-0.143105,0.430093,0.166417,-0.092105,0.465677,-0.264526,-0.257053,0.025581,-0.109053,...,NaN,-1.000000,NaN,-1.0,NaN,0.962963,0.0,69.5,NaN,-1.000000
23M05營收(億),-0.094616,-0.049542,-0.033084,-0.037500,-0.148048,-0.068309,-0.327485,-0.198507,0.074074,-0.141264,...,NaN,-1.000000,NaN,0.0,-1.0,NaN,-1.0,inf,NaN,-1.000000
23M06營收(億),-0.196503,-0.110858,-0.280244,-0.271405,-0.200985,-0.333878,-0.391403,-0.187408,0.060948,-0.194828,...,NaN,-1.000000,NaN,-0.8,NaN,NaN,0.0,inf,NaN,-1.000000

In [2]:
lynchGrowth(lynchShareBaseDf)

              預期報酬率
代號   名稱
2916 滿心       20.0%
2371 大同       19.0%
5209 新鼎        8.7%
1593 祺驊       -1.3%
6873 泓德能源-創   -8.5%
6577 勁豐      -18.9%
6122 擎邦      -25.0%
3032 偉訓      -25.7%
2752 豆府      -33.3%
4138 曜亞      -34.8%
4754 國碳科     -35.1%
2618 長榮航     -36.2%
3078 僑威      -38.3%
1584 精剛      -40.5%
2706 第一店     -43.2%
8048 德勝      -43.6%
5439 高技      -45.1%
6703 軒郁      -45.8%
6291 沛亨      -48.1%
2754 亞洲藏壽司   -49.0%
2227 裕日車     -49.3%
2707 晶華      -50.3%
2633 台灣高鐵    -52.4%
6472 保瑞      -52.8%
3693 營邦      -53.4%
6234 高僑      -58.8%
3540 曜越      -58.9%
1796 金穎生技    -59.3%
4763 材料-KY   -64.5%
6235 華孚      -72.3%
4979 華星光     -76.0%
3661 世芯-KY   -80.2%
8996 高力      -80.6%
5381 合正      -94.4%

In [3]:
buffett(lynchShareBaseDf)

         內部成長估值報酬率
代號   名稱
2609 陽明    1710.6%
2603 長榮     867.0%
1475 業旺     578.4%
2641 正德     476.9%
2643 捷迅     344.1%
...            ...
3563 牧德    -156.6%
8446 華研    -171.2%
3557 嘉威    -262.1%
5321 美而快   -314.6%
5009 榮剛       nan%

[224 rows x 1 columns]

In [4]:
beTrueGrowth(lynchShareBaseDf)

            預期成長估值報酬率
代號   名稱
2371 大同        229.1%
5209 新鼎        156.2%
6873 泓德能源-創    154.1%
6122 擎邦        126.9%
2916 滿心        110.3%
...               ...
6752 叡揚        -98.2%
3563 牧德        -98.4%
1580 新麥        -98.4%
3594 磐儀        -98.8%
6561 是方        -99.4%

[215 rows x 1 columns]