In [1]:
from app.models import *

pd.set_option('display.float_format', '{:.2f}'.format)
# # 設定顯示的最大列數和最大欄數為None，這樣DataFrame的所有列和欄都能夠完整顯示
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
seasonStock=SeasonStock()
revenue=Revenue()

In [3]:
shortGrowth=ShortGrowth(seasonStock,revenue)

In [4]:
shortGrowth.stockSellRatio()

代號,1101,1102,1103,1104,1108,1109,1110,1201,1203,1210,...,9945,9946,9949,9950,9951,9955,9958,9960,9962,index
名稱,台泥,亞泥,嘉泥,環泥,幸福,信大,東泥,味全,味王,大成,...,潤泰新,三發地產,琉園,萬國通,皇田,佳龍,世紀鋼,邁達康,有益,
21Q3存貨(億),0.39,0.28,0.04,0.20,4.32,0.46,1.89,0.29,1.04,0.30,...,4.80,19.29,3.21,1.64,1.04,1.91,0.55,0.47,1.31,NaN
21Q4存貨(億),0.56,0.42,0.12,0.20,4.30,0.59,1.87,0.30,0.95,0.31,...,4.03,43.87,2.86,1.13,1.01,1.07,0.84,0.54,1.60,NaN
22Q1存貨(億),0.52,0.35,0.05,0.23,3.56,0.55,2.28,0.32,0.99,0.35,...,4.49,68.18,5.11,1.05,1.08,1.69,1.10,0.65,1.04,NaN
22Q2存貨(億),0.61,0.39,0.29,0.25,3.52,0.65,2.22,0.29,1.02,0.35,...,3.53,7.63,3.91,0.88,0.89,2.00,0.77,0.49,0.92,NaN
22Q3存貨(億),0.56,0.41,0.28,0.26,3.36,0.43,1.76,0.30,1.18,0.31,...,3.89,29.02,2.88,1.00,0.80,2.01,0.66,0.53,0.97,NaN
22Q4存貨(億),0.59,0.45,0.26,0.22,3.79,0.82,2.12,0.34,1.27,0.39,...,3.01,107.55,3.00,0.75,0.83,1.78,0.53,0.79,0.89,NaN
23Q1存貨(億),0.52,0.36,0.18,0.21,3.10,0.64,1.66,0.32,1.28,0.32,...,4.28,49.79,4.02,0.77,0.86,1.22,0.45,0.91,1.03,NaN
23Q2存貨(億),NaN,0.41,NaN,0.23,3.09,0.64,2.19,NaN,NaN,NaN,...,NaN,50.64,4.57,0.76,0.79,1.48,NaN,0.83,1.14,NaN