In [1]:
import pandas as pd

In [2]:
pbr=pd.read_csv('goodinfo/pbr.csv')
cash=pd.read_csv('goodinfo/year/cash.csv')
dividendRatio=pd.read_csv('goodinfo/year/dividendRatio.csv')

In [3]:
removeStr=[',','=','"']
keyList=['代號','名稱']
todayPriceColumn=['成交']
# columns_to_drop = ['排名', '成交','漲跌價','平均(億)','漲跌幅']
# columns_to_drop = ['股價日期','市場']

In [12]:
def baseDfTrans(df):
    df=df.replace(removeStr,'',regex=True)
    df=df.set_index(keyList)
    return df

def lastNMeans(df,columnStr="近期平均",n=5):
    df=baseDfTrans(df)
    df[columnStr]=df.iloc[:,-5:].mean(axis=1)
    return df[columnStr]

def countConditionNum(df,columnStr="符合個數",bigger=1,compareBase=50,n=5):
    df=baseDfTrans(df)
    if bigger==1:
        values_count = (df.iloc[:, -n:] > compareBase).sum(axis=1)
    else:
        values_count = (df.iloc[:, -n:] < compareBase).sum(axis=1)
    df[columnStr]=values_count
    return df[columnStr]

In [13]:
countConditionNum(dividendRatio)

代號    名稱
2454  聯發科    5
2603  長榮     1
6669  緯穎     4
3008  大立光    2
5274  信驊     5
            ..
9934  成霖     3
9945  潤泰新    3
9949  琉園     0
9950  萬國通    0
9955  佳龍     0
Name: 符合個數, Length: 2086, dtype: int64

In [14]:
todayPrice=baseDfTrans(pbr)[todayPriceColumn]

In [15]:
pd.concat([todayPrice,lastNMeans(dividendRatio,'平均配息率'),lastNMeans(cash,'平均股息'),countConditionNum(dividendRatio)],axis=1)

                   成交  平均配息率    平均股息  符合個數
代號   名稱
0050 元大台灣50       NaN    NaN  3.9000   0.0
0051 元大中型100      NaN    NaN  1.6125   0.0
0052 富邦科技         NaN    NaN  3.6400   0.0
0053 元大電子         NaN    NaN  1.5525   0.0
0055 元大MSCI金融     NaN    NaN  0.7425   0.0
...               ...    ...     ...   ...
9951 皇田         79.50  58.64  3.8000   4.0
9955 佳龍         24.25   0.00  0.0000   0.0
9958 世紀鋼       164.00  74.64  1.5520   3.0
9960 邁達康        29.00  67.90  1.2300   4.0
9962 有益         18.65  77.56  0.8000   4.0

[2087 rows x 4 columns]

In [33]:
print(lastNMeans(dividendRatio))

代號    名稱
2454  聯發科    103.156
2603  長榮      40.560
6669  緯穎      59.356
3008  大立光     46.712
5274  信驊      88.404
              ...
9934  成霖      33.192
9945  潤泰新     56.836
9949  琉園       0.000
9950  萬國通      0.000
9955  佳龍       0.000
Name: 近期平均, Length: 2086, dtype: float64

In [7]:
print(dividendRatio)

        排名       代號   名稱       成交    漲跌價   漲跌幅   EPS平均    EPS合計   股利平均  \
0        1  ="2454"  聯發科   692.00  12.00  1.76   26.85   322.10  24.25
1        2  ="2603"   長榮    96.50   0.60  0.63   11.31   135.70   7.62
2        3  ="6669"   緯穎  1945.00  75.00  4.01   44.32   265.90  25.34
3        4  ="3008"  大立光  2310.00 -95.00 -3.95  143.68  1724.00  58.93
4        5  ="5274"   信驊  2440.00  90.00  3.83   19.83   237.90  17.24
...    ...      ...  ...      ...    ...   ...     ...      ...    ...
2081  2082  ="9934"   成霖    13.35   0.00  0.00    0.85    10.15   0.72
2082  2083  ="9945"  潤泰新    35.55   0.35  0.99    7.86    94.37   3.09
2083  2084  ="9949"   琉園    16.20  -0.30 -1.82   -0.32    -3.87   0.21
2084  2085  ="9950"  萬國通    17.40  -0.40 -2.25   -0.68    -8.16   0.47
2085  2086  ="9955"   佳龍    23.50   0.40  1.73   -0.75    -8.94   0.02

        股利合計  ...  2014分配率  2015分配率  2016分配率  2017分配率  2018分配率  2019分配率  \
0     291.00  ...     73.1     73.2     66.3     62.7     64.3     67.9
1      91.39  ...      0.0     59.8      0.0      0.0     35.5      0.0
2     152.00  ...      NaN      NaN      NaN      NaN     51.7     42.1
3     707.20  ...     39.8     35.2     35.3     37.5     37.4     37.4
4     206.90  ...     87.9     84.0     74.1     85.3     95.5     89.1
...      ...  ...      ...      ...      ...      ...      ...      ...
2081    8.68  ...     15.7    114.0     84.5    -74.8     75.7     76.8
2082   37.11  ...     15.2     70.2      0.0     33.9     28.9     27.7
2083    2.55  ...    231.0   1500.0      0.0      0.0      0.0      0.0
2084    5.70  ...     89.6     70.0     89.7     68.2      0.0      0.0
2085    0.30  ...      0.0      0.0      0.0      0.0      0.0      0.0

      2020分配率  2021分配率  2022分配率  2023分配率
0        71.5    142.0    103.0    102.0
1         0.0     49.1     39.5     80.4
2        63.1     65.0     50.5     61.7
3        37.5     50.0     50.4     50.5
4        90.2     88.5     94.0     80.8
...       ...      ...      ...      ...
2081     63.8     61.7      0.0      0.0
2082     64.2     85.0     83.0      0.0
2083      0.0      0.0      0.0      0.0
2084      0.0      0.0      0.0      0.0
2085      0.0      0.0      0.0      0.0

[2086 rows x 23 columns]