In [1]:
from liquidation import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
balance

,排名,代號,名稱,成交,財報季度,現金(%),應收帳款(%),存貨(%),速動資產(%),流動資產(%),...,固定資產(%),無形資產(%),其他資產(%),流動負債(%),長期負債(%),其他負債(%),負債總額(%),股東權益(%),每股淨值(元),財報評分
0,1,"=""3008""",大立光,2145.00,23Q2,57.90,3.26,3.54,64.00,68.2,...,21.30,0.10,8.79,14.80,NaN,0.04,15.10,84.90,1172.74,79
1,2,"=""2357""",華碩,362.00,23Q1,15.40,20.40,26.80,36.40,66.0,...,4.20,0.46,0.66,45.00,0.03,0.46,49.60,50.40,295.02,30
2,3,"=""2327""",國巨,464.00,23Q1,16.40,7.71,8.84,30.60,40.6,...,22.00,25.00,1.23,35.10,17.60,2.83,57.60,42.40,290.16,62
3,4,"=""2603""",長榮,109.00,23Q1,45.70,2.72,0.91,52.30,53.9,...,25.00,0.15,3.33,18.90,5.81,0.58,34.40,65.60,261.66,57
4,5,"=""6669""",緯穎,1555.00,23Q1,27.80,30.90,34.60,58.70,94.3,...,2.77,0.13,1.04,44.70,11.00,0.96,57.80,42.20,240.28,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,1786,"=""5345""",天揚,5.24,23Q1,29.50,0.87,32.60,48.00,91.6,...,4.52,0.52,0.68,17.40,0.00,NaN,18.50,81.50,1.81,43
1786,1787,"=""4943""",康控-KY,14.80,23Q1,0.60,16.70,13.50,17.30,36.2,...,55.70,0.87,1.02,77.20,0.09,1.25,95.50,4.46,1.50,36
1787,1788,"=""4157""",太景*-KY,15.50,23Q1,24.80,2.55,1.58,88.50,91.2,...,2.02,1.15,0.62,6.69,0.04,0.41,8.39,91.60,1.28,55
1788,1789,"=""4712""",南璋,3.68,23Q1,61.10,2.40,0.00,63.60,79.8,...,3.80,0.23,6.89,39.70,NaN,0.00,49.40,50.60,0.55,41
1789,1790,"=""4944""",兆遠,9.75,23Q1,2.96,2.74,1.69,5.69,45.9,...,18.50,0.02,15.20,74.80,6.38,0.18,97.40,2.60,0.34,23

In [2]:
liquiTable=liquiShareDf(liquiShareBaseDf)

In [3]:
liquiTable

,,成交,PBR,PER,負債總額(%),存貨(%),應收帳款(%),投資(%),清算價值,清算價值報酬率
代號,名稱,,,,,,,,,
1101,台泥,37.65,1.25,47.1,48.0,3.42,6.99,20.90,6.231828,-0.784824
1102,亞泥,40.55,0.92,11.0,46.1,2.42,4.15,42.20,2.261103,-0.927511
1103,嘉泥,20.85,0.61,NaN,38.4,0.33,0.78,54.00,2.218303,-0.861689
1104,環泥,29.80,0.91,11.9,21.5,1.52,6.75,50.20,6.559275,-0.713857
1108,幸福,17.70,1.52,11.1,51.4,42.00,10.60,1.94,-0.691697,-1.050803
...,...,...,...,...,...,...,...,...,...,...
9951,皇田,80.90,1.86,14.2,40.4,18.90,19.80,4.31,7.215758,-0.884048
9955,佳龍,22.95,1.73,NaN,54.0,15.20,1.04,7.90,2.899925,-0.835734
9958,世紀鋼,153.00,5.10,478.0,69.7,3.76,2.43,3.48,6.189000,-0.947414
9960,邁達康,30.05,1.61,8.3,53.0,12.90,5.30,0.00,5.375404,-0.767453
9962,有益,18.55,1.54,7.6,24.1,62.40,4.55,1.28,0.923886,-0.935253

In [4]:
liquidationModel(liquiShareBaseDf)

           清算價值報酬率
代號   名稱
8429 金麗-KY  243.0%
1337 再生-KY  147.2%
1340 勝悅-KY  105.2%
2603 長榮      78.0%
6405 悅城      76.2%
2609 陽明      72.4%
2929 淘帝-KY   64.2%
1325 恆大      62.8%
1315 達新      42.7%
8499 鼎炫-KY   38.3%
4552 力達-KY   36.9%
4909 新復興     25.6%
2605 新興      24.5%
5521 工信      21.5%
2615 萬海      19.2%
2443 昶虹      13.3%
3252 海灣       6.8%
1452 宏益       3.8%
1465 偉全       1.0%
2617 台航       0.2%