In [1]:
from liquidation import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
liquiTable=liquiShareDf(liquiShareBaseDf)

In [3]:
liquiTable

,,成交,PBR,PER,負債總額(%),存貨(%),應收帳款(%),投資(%),清算價值,清算價值報酬率
代號,名稱,,,,,,,,,
1101,台泥,37.65,1.25,47.1,48.0,3.42,6.99,20.90,6.231828,-0.784824
1102,亞泥,40.55,0.92,11.0,46.1,2.42,4.15,42.20,2.261103,-0.927511
1103,嘉泥,20.85,0.61,NaN,38.4,0.33,0.78,54.00,2.218303,-0.861689
1104,環泥,29.80,0.91,11.9,21.5,1.52,6.75,50.20,6.559275,-0.713857
1108,幸福,17.70,1.52,11.1,51.4,42.00,10.60,1.94,-0.691697,-1.050803
...,...,...,...,...,...,...,...,...,...,...
9951,皇田,80.90,1.86,14.2,40.4,18.90,19.80,4.31,7.215758,-0.884048
9955,佳龍,22.95,1.73,NaN,54.0,15.20,1.04,7.90,2.899925,-0.835734
9958,世紀鋼,153.00,5.10,478.0,69.7,3.76,2.43,3.48,6.189000,-0.947414
9960,邁達康,30.05,1.61,8.3,53.0,12.90,5.30,0.00,5.375404,-0.767453
9962,有益,18.55,1.54,7.6,24.1,62.40,4.55,1.28,0.923886,-0.935253

In [4]:
liquidationModel(liquiShareBaseDf)

           清算價值報酬率
代號   名稱
8429 金麗-KY  243.0%
1337 再生-KY  147.2%
1340 勝悅-KY  105.2%
2603 長榮      78.0%
6405 悅城      76.2%
2609 陽明      72.4%
2929 淘帝-KY   64.2%
1325 恆大      62.8%
1315 達新      42.7%
8499 鼎炫-KY   38.3%
4552 力達-KY   36.9%
4909 新復興     25.6%
2605 新興      24.5%
5521 工信      21.5%
2615 萬海      19.2%
2443 昶虹      13.3%
3252 海灣       6.8%
1452 宏益       3.8%
1465 偉全       1.0%
2617 台航       0.2%